<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script type="text/javascript" src="js/respond.min.js"></script>
<![endif]-->
	
<link href="css/app.css" rel="stylesheet">

</head><body class="home">

	<header id="header">

		<div id="slider">
			<div class="slide_1 active"></div>
			<div class="slide_2"></div>
		</div>

			<div class="row block_content">

				<div class="field_1 preheader clearfix">
					<div class="columns large-4 preheader_left">
						<div class="entrance"><a href="#">Вхід</a></div>
						<div class="numder"><p>(032)261-35-73</p></div>
					</div>
					<div class="columns large-8 preheader_right">
						<div class="language">
							<a href="">Укр.</a>
							<a class="active" href="">Рус.</a>
						</div>
						<ul class="nember_video">
							<li><a class="active" href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
						</ul>
					</div>
				</div>

				<div class="field_2 clearfix">

					<div class="columns large-4 menu">
						<div class="logo_fon">
							<div class="logo_img">
								<a href="index.html"></a>
							</div>
						</div>
						<nav>
							<ul class="main_nav">
								<li><a href="#">Клуби</a></li>
								<li class="active"><a href="#">Ківі TV</a></li>
								<li><a href="#">Магазин</a></li>
								<li><a href="#">Про Ківі</a></li>
							</ul>
						</nav>
					</div>

					<div class="columns large-8 video">
						<a href="#"></a>
					</div>

				</div>

				<div class="field_3 clearfix hide-for-small">

					<div class="columns large-9">
						<div class="motto"></div>
					</div>
					<div class="consultation columns large-3">
						<a href="#">Онлайн<br>консультація</a>
					</div>

				</div>


				<div class="columns large-12">

					<a class="consultation_2" href="#">Онлайн консультація</a>

					<div class="columns large-2 adress_row">
						<ul class="adress">
							<li><a href="#">Мансарика</a><div class="knopa"></div></li>
							<li><a href="#">Масарика</a></li>
							<li><a href="#">Бандери</a></li>
							<li><a href="#">Наукова</a></li>
							<li><a href="#">Бандери</a></li>
							<li><a href="#">Наукова</a></li>
						</ul>
					</div>

					<div class="columns large-10 session_row">
						<div class="sessions">
							<ul class="hour_sessions">
								<li><a href="#">08</a></li>
								<li><a href="#">09</a></li>
								<li><a class="activate" href="#">10</a></li>
								<li><a href="#">11</a></li>
								<li><a href="#">12</a></li>
								<li><a href="#">13</a></li>
								<li><a href="#">14</a></li>
								<li><a href="#">15</a></li>
								<li><a href="#">16</a></li>
								<li><a href="#">17</a></li>
								<li><a href="#">18</a></li>
								<li><a href="#">19</a></li>
								<li><a href="#">20</a></li>
								<li><a href="#">21</a></li>
							</ul>
							<ul class="type_of_session clear">
								<li><a href="#">Хатха Йога 13:30 <span>зал 1</span></a></li>
								<li><a href="#">Mind&Body 13:45 <span>зал 2</span></a></li>
								<li><a href="#">Дитячий Фітнес 14:00 <span>зал 3</span></a></li>
							</ul>
						</div>
					</div>

				</div>

			</div>

	</header>

	<div class="content clear">

		<div class="row block_content">

			<ul class="program_win">
				<li><a href="#">Mind&Body</a></li>
				<li class="active"><a href="#">Аеробні та силові програми</a></li>
				<li><a href="#">Танцювальні програми</a></li>
				<li><a href="#">Дитячий фітнес</a></li>
				<li><a href="#">Для матусь</a></li>
				<li><a href="#">Персональні тренування</a></li>
			</ul>

		</div>

		<div class="row block_content">

			<div class="columns large-4">
				<div class="news">
					<section>
						<a href="#"></a>
						<img src="img/resource/news_1.jpg">
						<div class="news_content">
							<h3>Новорічна вечірка</h3>
							<p>15 грудня з 19:00. Нічний клуб «Millennium»</p>
						</div>
					</section>
					<section>
						<a href="#"></a>
						<img src="img/resource/news_1.jpg">
						<div class="news_content">
							<h3>Фітнес-марафон</h3>
							<p>17 листопада з 16:00. С. Бандери 18 </p>
						</div>
					</section>
					<section>
						<a href="#"></a>
						<img src="img/resource/news_1.jpg">
						<div class="news_content">
							<h3>Запрошуємо на навчання у школу інструкторів</h3>
							<p>23-25 листопада</p>
						</div>
					</section>
				</div>
			</div>

			<div class="columns large-8 small-12 action_block">
				<div class="columns large-6 small-6 action">
					<a href="#"><img src="img/resource/action_1.png"></a>
				</div>
				<div class="columns large-6 small-6 action">
					<a href="#"><img src="img/resource/action_2.png"></a>
				</div>
			</div>

		</div>


		<div class="row block_content">

			<div class="columns large-6">
				<div class="deals">
					<a href="#"></a>
					<img src="img/resource/news_2.jpg">
					<div class="deals_content">
						<h3>Школа підготовки інструкторів</h3>
						<p>заняття проводяться: ср. пт. 10:00-14:00, тел. (067) 54-37-781</p>
					</div>
				</div>
			</div>
			<div class="columns large-6">
				<div class="deals">
					<a href="#"></a>
					<img src="img/resource/news_2.jpg">
					<div class="deals_content">
						<h3>Школа підготовки інструкторів</h3>
						<p>залучаємо партнерів на вигідних умовах, тел. (099) 87-56-785</p>
					</div>
				</div>
			</div>

		</div>

		<div class="row block_content">

			<div class="contact">
				<ul>
					<li>Бандери 18, м. Львів</li>
					<li>+3 8(032) 261-35-73</li>
					<li>+3 8(096) 486-46-73</li>
				</ul>
				<ul>
					<li>Масарика 2, м. Львів</li>
					<li>+3 8(032) 240-74-77</li>
					<li>+3 8(097) 314-15-11</li>
				</ul>
				<ul>
					<li>Наукова 43б, м. Львів</li>
					<li>+3 8(032) 240-97-65</li>
					<li>+3 8(097) 602-77-91</li>
				</ul>
			</div>

			<div class="social_networks">
				<ul class="social">
					<li><a href="facebook"></a></li>
					<li><a href="vk"></a></li>
					<li><a href="twitter"></a></li>
					<li><a href="youtube"></a></li>
				</ul>
				<a class="message" href="#">Написати повідомлення</a>
			</div>

		</div>

	</div>


	<footer id="footer" class="clear">

		<div class="row">
			<a class="columns large-4 copiring" href="#">© 2012 «Ківіфітнес»</a>
			<a class="columns large-8 developed" href="http://bambus.com.ua" target="_blank">Developed & powered by Bambuk</a>
		</div>

	</footer>
	

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="js/script.js"></script>


</body></html>













