<section id="prices" class="prices-container">
    <header>
        <div class="row">
            <div class="columns large-12">
                <h3>Наші ціни</h3>
                <div class="fleft">
                    <a href="#" class="active">Групові програми</a>
                    <a href="#">Персональні програми</a>
                    <a href="#">8 тижнів</a>
                    <a href="#">Релакс зона</a>
                </div>
                <form class="fright">
                    <select class="custom-select" name="subscription-period">
                        <option>Абонемент на 1 місяць</option>
                        <option>Абонемент на 3 місяці</option>
                        <option>Абонемент на 6 місяців</option>
                    </select> 
                </form>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="columns large-12">
            <div class="price-table clearfix">
                <div class="first-column">
                    <div class="price-header"></div>
                    <span>1 зан/тиж</span>
                    <span>2 зан/тиж</span>
                    <span>3 зан/тиж</span>
                    <span>4 зан/тиж</span>
                    <span>Разове заняття</span>
                </div>
                
                <div class="table-data-box">
                    <div class="price-data-column">
                        <div class="price-header">Базова<br/>Зал №1</div>
                        <span>120 грн</span>
                        <span>150 грн</span>
                        <span>180 грн</span>
                        <span>120 грн</span>
                        <span>500 грн</span>
                    </div>
                    <div class="price-data-column">
                        <div class="price-header">Базова<br/>Зал №2</div>
                        <span>120 грн</span>
                        <span>150 грн</span>
                        <span>180 грн</span>
                        <span>120 грн</span>
                        <span>500 грн</span>
                    </div>
                    <div class="price-data-column">
                        <div class="price-header">Студентська*</div>
                        <span>120 грн</span>
                        <span>150 грн</span>
                        <span>180 грн</span>
                        <span>120 грн</span>
                        <span>500 грн</span>
                    </div>
                    <div class="price-data-column">
                        <div class="price-header">Йога<br/>для дітей*</div>
                        <span>120 грн</span>
                        <span>150 грн</span>
                        <span>180 грн</span>
                        <span>120 грн</span>
                        <span>500 грн</span>
                    </div>
                    <div class="price-data-column">
                        <div class="price-header">Юніор</div>
                        <span>120 грн</span>
                        <span>150 грн</span>
                        <span>180 грн</span>
                        <span>120 грн</span>
                        <span>500 грн</span>
                    </div>
                    <div class="price-data-column">
                        <div class="price-header">Zumba,<br/>Jumping</div>
                        <span>120 грн</span>
                        <span>150 грн</span>
                        <span>180 грн</span>
                        <span>120 грн</span>
                        <span>500 грн</span>
                    </div>
                    <div class="price-data-column">
                        <div class="price-header">Ківі-Мама <br/>Prenetel Jumping</div>
                        <span>120 грн</span>
                        <span>150 грн</span>
                        <span>180 грн</span>
                        <span>120 грн</span>
                        <span>500 грн</span>
                    </div>
                </div>

                <div class="last-column">
                    <div class="price-header"></div>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                </div>
                <div class="table-footer">
                    <span>Вартість клубної картки: нова - 25 грн. (разовий платіж), відновлення - 15 грн.</span>
                </div>
            </div>
            <p style="font-weight: 400;">*  Зал №1, №2 - заняття в групах до 15 осіб</p>
        </div>
    </div>
</section>







