<section id="team" class="team-container">
    <div class="row">
        <div class="columns large-12">
            <h3>Команда</h3>
            <div class="tabs-container clearfix">
                
                <div class="links clearfix">
                    <dl class="tabs" data-tab>
                        <dd class="active"><a href="#panel5">Тренери</a></dd>
                        <dd><a href="#panel6">Адміністратори</a></dd>
                        <dd><a href="#panel7">Релакс зона</a></dd>
                    </dl>
                </div>
                <div class="tabs-content team-members-block clearfix">
                    <div class="content active" id="panel5">
                        <div class="member">
                            <img src="img/page/club/1.jpg"/>
                            <span>Анастасія<br/>Кучеренко</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/2.jpg"/>
                            <span>Юля Шпек</span>
                        </div>
                        <div class="member"> 
                            <img src="img/page/club/3.jpg"/>
                            <span>Олександра Голденштайнер</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/2.jpg"/>
                            <span>Кучеренко Анастасія</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/1.jpg"/>
                            <span>Анастасія<br/>Кучеренко</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/2.jpg"/>
                            <span>Юля Шпек</span>
                        </div>
                        <div class="member"> 
                            <img src="img/page/club/3.jpg"/>
                            <span>Олександра Голденштайнер</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/2.jpg"/>
                            <span>Кучеренко Анастасія</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/1.jpg"/>
                            <span>Анастасія<br/>Кучеренко</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/2.jpg"/>
                            <span>Юля Шпек</span>
                        </div>
                        <div class="member"> 
                            <img src="img/page/club/3.jpg"/>
                            <span>Олександра Голденштайнер</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/2.jpg"/>
                            <span>Кучеренко Анастасія</span>
                        </div>
                    </div>
                    <div class="content" id="panel6">
                        <div class="member">
                            <img src="img/page/club/1.jpg"/>
                            <span>Анастасія<br/>Кучеренко</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/1.jpg"/>
                            <span>Анастасія<br/>Кучеренко</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/2.jpg"/>
                            <span>Юля Шпек</span>
                        </div>
                        <div class="member"> 
                            <img src="img/page/club/3.jpg"/>
                            <span>Олександра Голденштайнер</span>
                        </div>
                    </div>
                    <div class="content" id="panel7">
                        <div class="member">
                            <img src="img/page/club/2.jpg"/>
                            <span>Юля Шпек</span>
                        </div>
                        <div class="member"> 
                            <img src="img/page/club/3.jpg"/>
                            <span>Олександра Голденштайнер</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/2.jpg"/>
                            <span>Кучеренко Анастасія</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/1.jpg"/>
                            <span>Анастасія<br/>Кучеренко</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/2.jpg"/>
                            <span>Юля Шпек</span>
                        </div>
                        <div class="member"> 
                            <img src="img/page/club/3.jpg"/>
                            <span>Олександра Голденштайнер</span>
                        </div>
                        <div class="member">
                            <img src="img/page/club/2.jpg"/>
                            <span>Кучеренко Анастасія</span>
                        </div>
                    </div>
                </div>
                
            </div>

            <a class="link-with-icon-56 green center-fix" href="#">
                <span class="menu-and-icon">
                    <span class="icon-blog-icon"></span>
                </span>
                <span>всі новини клубу на науковій 43б</span>
            </a>
            
        </div>
    </div>
</section>