<div class="services-menu-container">
        <div class="row">
            <span class="icon-closed trigger"></span>
            <div class="tabs-container clearfix">
                <div class="menu-box clearfix">
                    <dl data-tab="" class="tabs">
                        <dd class="active">
                            <a href="#panel1">
                                <div class="icons-box" id="block-1">
                                    <!--<span class="icon-personal-lessons icon-all"></span>-->
                                    <img src="img/icons/personal-training.svg" width="150" height="98"/>
                                </div>
                                <span>Персональні заняття</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="#panel2">
                                <div class="icons-box" id="block-2">
                                    <!--<span class="icon-group-lessons icon-all"></span>-->
                                    <img src="img/icons/group.svg" width="118" height="138"/>
                                </div>
                                <span>Групові заняття</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="#panel3">
                                <div class="icons-box" id="block-3">
                                    <!--<span class="icon-relaxation-zone icon-all"></span>-->
                                    <img src="img/icons/relax.svg" width="112" height="107"/>
                                </div>
                                <span>Релакс зона</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="#panel4">
                                <div class="icons-box" id="block-4">
                                    <!--<span class="icon-weight-loss-program icon-all"></span>-->
                                    <img src="img/icons/fatyGone.svg" width="143" height="127"/>
                                </div>
                                <span>Програма схуднення</span>
                            </a>
                        </dd>
                    </dl>
                </div>
                <div class="tabs-content clearfix">
                    <div class="menus-list-menu clearfix">
                        <div id="panel1" class="content active">
                            <div class="block-1 hidden-menu">
                                <div class="row">
                                    <div class="columns large-3">
                                        <h6>Mind & Body</h6>
                                        <ul>
                                            <li><a href="#">Prenatal (для вагітних)</a></li>
                                            <li><a href="#">Ківі-мама (мама+малюк)</a></li>
                                        </ul>
                                        <h6>Для вагітних та матусь</h6>
                                        <ul>
                                            <li><a href="#">Георгий Иванов</a></li>
                                            <li><a href="#">Игорь Морозов Йога</a></li>
                                            <li><a href="#">Каланетика</a></li>
                                            <li><a href="#">Владимир Тарасов</a></li>
                                            <li><a href="#">Пілатес-релакс</a></li>
                                        </ul>
                                    </div>
                                    <div class="columns large-3">
                                        <h6>Танцювальні програми</h6>
                                        <ul>
                                            <li><a href="#">Дина Цветкова</a></li>
                                            <li><a href="#">Хатха Йога</a></li>
                                            <li><a href="#">Каланетика</a></li>
                                            <li><a href="#">Stretch+ABS</a></li>
                                            <li><a href="#">Пілатес-релакс</a></li>
                                        </ul>
                                    </div>
                                    <div class="columns large-3">
                                        <h6>Для вагітних та матусь</h6>
                                        <ul>
                                            <li><a href="#">Пілатес</a></li>
                                            <li><a href="#">Хатха Йога</a></li>
                                            <li><a href="#">Роза Сидорова</a></li>
                                            <li><a href="#">Stretch+ABS</a></li>
                                            <li><a href="#">Пілатес-релакс</a></li>
                                        </ul>
                                    </div>
                                    <div class="columns large-3">
                                        <h6>Силові та аеробні програми</h6>
                                        <ul>

                                            <li><a href="#">Пілатес</a></li>
                                            <li><a href="#">Хатха Йога</a></li>
                                            <li><a href="#">Каланетика</a></li>
                                            <li><a href="#">Stretch+ABS</a></li>
                                            <li><a href="#">Валентин Наумов</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="panel2" class="content">
                            <div class="block-2 hidden-menu">
                                <div class="row">
                                    <div class="columns large-3">
                                        <h6>Силові та аеробні програми</h6>
                                        <ul>
                                            <li><a href="#">Пілатес</a></li>
                                            <li><a href="#">Хатха Йога</a></li>
                                            <li><a href="#">Каланетика</a></li>
                                            <li><a href="#">Stretch+ABS</a></li>
                                            <li><a href="#">Пілатес-релакс</a></li>
                                        </ul>
                                    </div>
                                    <div class="columns large-3">
                                        <h6>Mind & Body</h6>
                                        <ul>
                                            <li><a href="#">Пілатес</a></li>
                                            <li><a href="#">Ольга Баранова</a></li>
                                            <li><a href="#">Каланетика</a></li>
                                            <li><a href="#">Stretch+ABS</a></li>
                                            <li><a href="#">Пілатес-релакс</a></li>
                                        </ul>
                                    </div>
                                    <div class="columns large-3">
                                        <h6>Дитячий фітнес</h6>
                                        <ul>
                                            <li><a href="#">Пілатес</a></li>
                                            <li><a href="#">Хатха Йога</a></li>
                                            <li><a href="#">Каланетика</a></li>
                                            <li><a href="#">Дмитрий Алексеев</a></li>
                                            <li><a href="#">Пілатес-релакс</a></li>
                                        </ul>
                                    </div>
                                    <div class="columns large-3">
                                        <h6>Танцювальні програми</h6>
                                        <ul>
                                            <li><a href="#">Пілатес</a></li>
                                            <li><a href="#">Хатха Йога</a></li>
                                            <li><a href="#">Каланетика</a></li>
                                            <li><a href="#">Stretch+ABS</a></li>
                                            <li><a href="#">Пілатес-релакс</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="panel3" class="content">
                            <div class="block-3 hidden-menu">

                            </div>
                        </div>
                        <div id="panel4" class="content">
                            <div class="block-4 hidden-menu">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
