<section id="usefull-tips" class="usefull-tips-container clearfix">
    <div class="container">
        <img src="img/page/home/useful-tip1.png"/>
        <h6>
            Коли краще тренуватись
            <span>вранці чи ввечері?</span>
        </h6>
        <p>Тренуйтесь, враховуючи свій біоритм. Комусь легше позайматись вранці,
            до когось працездатність приходить лише після обіду. Головне правило — тренуватись, коли можеш, коли комфортоно, коли від тренування отримуєш задоволення і максимальний ефект.</p>
    </div>
</section>