{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
	<h1>{{ page.title }}</h1><br>
	{% autoescape %}
    	{{ page.content|raw }}
	{% endautoescape %}
</div>
{% endblock %}