<section id="header" class="header-container">
    <div class="row">
        <div class="columns large-12">
            {{ > headerMenu }}
            <div class="slogan">
                <p>
                    Ми робимо все<br/>
                    для того, щоб жінка<br/>
                    <b>почувала себе</b><br/>
                    <span class="green-salad-txt"><b>здоровою, привабливою</b></span><br/>
                    та сильною
                </p>
            </div>
        </div>
    </div>
    {{ > clubsListMenu }}
    {{ > servicesListMenu }}
</section>





