<section id="rozklad" class="rozklad-container">
    <header>
        <div class="row">
            <div class="columns large-12">
                <div class="rozklad-text">
                    <h4>Розклад занять</h4>
                    <span>7 червня</span>
                </div>
                <a href="#" class="link-with-icon-56 green">
                    <span class="menu-and-icon">
                        <span class="icon-calendar-icon"></span>
                    </span>
                    <span>Весь розклад</span>
                </a>
                <form>
                    <select name="address" class="custom-select">
                        <option>Клуб на вул.Наукова</option>
                        <option>Клуб на вул.Масарика</option>
                        <option>Клуб на вул. С.Бандери</option>
                    </select>
                </form>
            </div>
        </div>
    </header>

    <div class="rozklad-table">
        <div class="table-row zal-1">
            <div class="zal-number">
                <span>
                    1<br/>
                    <span>зал</span>
                </span>
            </div>
            <div class="line"></div>
            <div class="hours-entry-contanier clearfix">
                <div class="entry-box"> 
                    <div>
                        <span class="hour">10:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box empty"></div>
                <div class="entry-box current">
                    <div>
                        <span class="hour">12:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">13:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">14:00</span>
                        <span class="name">Break Dance (хлопці 7-14, дівчата 6-16)</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">16:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">17:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">18:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">18:30</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box">
                    <div>
                        <span class="hour">19:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box">
                    <div>
                        <span class="hour">19:30</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box">
                    <div>
                        <span class="hour">20:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-row zal-2">
            <div class="zal-number">
                <span>
                    2<br/>
                    <span>зал</span>
                </span>
            </div>
            <div class="line"></div>
            <div class="hours-entry-contanier clearfix">
                <div class="entry-box empty"></div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">11:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box empty"></div>
                <div class="entry-box current">
                    <div>
                        <span class="hour">14:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">16:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">16:30</span>
                        <span class="name">Body Shape (LB/UB+Carier body)</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">19:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">17:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">18:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">18:30</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box">
                    <div>
                        <span class="hour">19:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box">
                    <div>
                        <span class="hour">19:30</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box">
                    <div>
                        <span class="hour">20:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="table-row zal-3">
            <div class="zal-number">
                <span>
                    2<br/>
                    <span>зал</span>
                </span>
            </div>
            <div class="line"></div>
            <div class="hours-entry-contanier clearfix">
                <div class="entry-box empty"></div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">11:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box current">
                    <div>
                        <span class="hour">12:30</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box">
                    <div>
                        <span class="hour">14:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">16:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">18:30</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box"> 
                    <div>
                        <span class="hour">18:30</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
                <div class="entry-box">
                    <div>
                        <span class="hour">19:00</span>
                        <span class="name">Jumping</span>
                        <div class="short-description">
                            <img src=""/>
                            <h5></h5>
                            <div></div>
                            <a href="">read more ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="columns large-12 bottom-link">
            <a href="#" class="link-with-icon-56 green center-fix">
                <span class="menu-and-icon">
                    <span class="icon-blog-icon"></span>
                </span>
                <span>всі новини</span>
            </a>
        </div>
    </div>
</section>