<div class="clubs-list-menu slideMenu">
        <div class="row">
            <div class="columns large-12">
                <span class="icon-closed"></span> 
                <span class="block-hedader">Clubs List</span>
                <div class="lists-box">
                    <div class="one-city-list">
                        <span><span class="icon-icon-place"></span> м.Львів</span>
                        <ul>
                            <li><a href="">Масарика 2</a></li>
                            <li><a href="/club.html">Наукова 43б</a></li>
                            <li><a href="">С.Бандери 18</a></li>
                        </ul>
                    </div>
<!--                    <div class="one-city-list">
                        <span><span class="icon-icon-place"></span> м.Київ</span>
                        <ul>
                            <li><a href="">Масарика 2</a></li>
                            <li><a href="">Наукова 43б</a></li>
                            <li><a href="">С.Бандери 18</a></li>
                        </ul>
                    </div>
                    <div class="one-city-list">
                        <span><span class="icon-icon-place"></span> м.Рівне</span>
                        <ul>
                            <li><a href="">Масарика 2</a></li>
                            <li><a href="">Наукова 43б</a></li>
                            <li><a href="">С.Бандери 18</a></li>
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
    </div>