<footer>
    <div class="pre-footer-links">
        <div class="row">
            <div class="columns large-3">
                <h6>Персональні заняття</h6>
                <div class="links">
                    <a href="#">Mind and Body</a>
                    <a href="#">Аеробні та силові програми</a>
                    <a href="#">Танцювальні програми</a>
                    <a href="#">Дятчий фітнес</a>
                    <a href="#">Для матусь</a>
                </div>
            </div>
            <div class="columns large-3">
                <h6>Групові заняття</h6>
                <div class="links">
                    <a href="#">Mind and Body</a>
                    <a href="#">Аеробні та силові програми</a>
                    <a href="#">Танцювальні програми</a>
                    <a href="#">Дятчий фітнес</a>
                    <a href="#">Для матусь</a>
                </div>
            </div>
            <div class="columns large-3">
                <h6>Релакс зона</h6>
                <div class="links mrg-bot clearfix">
                    <a href="#">Кедрова бочка</a>
                    <a href="#">Массажний кабінет</a>
                </div>
                <h6>Спеціальна програма</h6>
                <div class="links">
                    <a href="#">8 тижнів</a>
                </div>
            </div>
            <div class="columns large-3">
                <h6>Підписатись на розсилку</h6>
                <form>
                    <input type="text" placeholder="Ваш e-mail"/>
                    <span class="icon-icon-mail"><input type="submit" value=""/></span>
                </form>
                <h6>Ми в соціальних мережах</h6>
                <div class="social">
                    <a href="#"><span class="icon-facebook-icon"></span></a>
                    <a href="#"><span class="icon-vkontakte-icon"></span></a>
                    <a href="#"><span class="icon-twitter-icon"></span></a>
                    <a href="#"><span class="icon-you-tube"></span></a>
                </div>
                <div class="go-top-btn">
                    <a class="link-with-icon-56" href="#top">
                        <span class="menu-and-icon">
                            <img width="26" height="32" src="../img/icons/arrow-top.png">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="row">
            <div class="columns large-3">
                <img class="kivi-logo fleft" width="134" height="81" src="img/logo@2x.png">
            </div>
            <div class="columns large-9">
                <div class="select-lang-box clearfix">
                    <form>
                        <select name="city" class="custom-select">
                            <option>м.Львів</option>
                            <option>м.Київ</option>
                            <option>м.Одесса</option>
                        </select>
                    </form>
                    <div class="fright">
                        <a class="link-with-icon active" href="">
                            <span class="menu-and-icon">
                                <span>Укр</span>
                            </span>
                        </a>
                        <a class="link-with-icon" href="#">
                            <span class="menu-and-icon">
                                <span>Рус</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="columns large-4">
                        <span class="icon-icon-place"></span>
                        <p><span>C.Бандери 18</span>
                            +380 32 261 35 73</p>
                    </div>
                    <div class="columns large-4">
                        <span class="icon-icon-place"></span>
                        <p><span>Масарика 2</span>
                            +380 32 240 74 77</p>
                    </div>
                    <div class="columns large-4">
                        <span class="icon-icon-place"></span>
                        <p><span>Наукова 43б</span>
                            +380 32 240 97 65</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyr-box">
            <div class="row">
                <div class="columns large-12">
                    <p class="fleft">© 2014  «Ківіфітнес»</p>
                    <div class="social fright">
                        <a href="#"><span class="icon-facebook-icon"></span></a>
                        <a href="#"><span class="icon-vkontakte-icon"></span></a>
                        <a href="#"><span class="icon-twitter-icon"></span></a>
                        <a href="#"><span class="icon-you-tube"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
