<header class="clearfix">
    <a href="/"><img class="kivi-logo" src="img/logo@2x.png" width="134" height="81"/></a>
    <div class="top-menu">
        <a href="#" class="link-with-icon">
            <span class="menu-and-icon">
                <span class="icon-phone"></span>
            </span>
            <span>Контакти</span>
        </a>
        <a href="#" class="link-with-icon">
            <span class="menu-and-icon">
                <span class="icon-calendar-icon"></span>
            </span>
            <span>Розклад та ціни</span>
        </a>
        <a href="#">
            <span class="text-btn">
                ВСТУПИТИ В КЛУБ
            </span>
        </a>
    </div>
    <div class="main-menu">
        <ul>
            <li><a href="#">Про Ківі</a></li>
            <li><a href="#" id="clubs">Клуби</a></li>
            <li><a href="/club.html">Ківі TV</a></li>
            <li><a href="#">Магазин</a></li>
        </ul>
    </div>
</header>