<section class="more-proposes">
    <div class="row">
        <div class="columns large-6 school">
            <div>
                <img src="img/page/home/school.png"/>
                <h4>
                    <span>Школа підготовки інструкторів</span>
                    Мрієш стати фітнес інструктором?
                </h4>
                <a href="#">
                    <span class="text-btn">Детальніше</span>
                </a>
            </div>
        </div>
        <div class="columns large-6 franchising">
            <div>
                <img src="img/page/home/franchaising.png"/>
                <h4>
                    <span>Франчайзинг</span>
                    Хочеш відкрити свій фітнес клуб?
                </h4>
                <a href="#">
                    <span class="text-btn">Детальніше</span>
                </a>
            </div>
        </div>
    </div>
</section>