<section id="club-rozklad" class="club-rozklad-container">
    <header>
        <div class="row">
            <div class="columns large-12">
                <div class="top-line-box clearfix">
                    <h3 class="fleft">Розклад занять</h3>
                    <a class="link-with-icon green fright" href="">
                        <span class="menu-and-icon">
                            <span class="icon-download"></span>
                        </span>
                        <span>Завантажити розклад</span>
                    </a>
                </div>  
                <div class="second-line-box">
                    <div class="fleft">
                        <a href="" class="active">Зал 1</a>
                        <a href="">Зал 2</a>
                        <a href="">Зал 3</a>
                    </div>
                    <div class="choose-programm fright">
                        <span id="trigger">Оберіть программу <span class="icon-select-arrow"></span></span>
                        <div class="menu-popup" id="menu-popup">
                            <div class="no-program-exist-popup">
                                Цієї програми нема в цьому залі,<br/> подивіться в іншому залі
                            </div>
                            <div class="row">
                                <div class="list-block">
                                    <span class="category-header">Mind &amp; Body</span>
                                    <ul>
                                        <li class="not-exist"><a href="">Пілатес</a></li>
                                        <li><a href="">Хатха Йога</a></li>
                                        <li><a href="">Каланетика</a></li>
                                        <li><a href="">Stretch+ABS</a></li>
                                        <li><a href="">Пілатес-релакс</a></li>
                                    </ul>
                                </div>
                                <div class="list-block">
                                    <span class="category-header">Танцювальні програми</span>
                                    <ul>
                                        <li><a href="">Пілатес</a></li>
                                        <li><a href="">Хатха Йога</a></li>
                                        <li><a href="">Каланетика</a></li>
                                        <li><a href="">Stretch+ABS</a></li>
                                        <li class="not-exist"><a href="">Пілатес-релакс</a></li>
                                    </ul>
                                </div>
                                <div class="list-block">
                                    <span class="category-header">Дитячий фітнес</span>
                                    <ul>
                                        <li class="not-exist"><a href="">Пілатес</a></li>
                                        <li class="not-exist"><a href="">Хатха Йога</a></li>
                                        <li><a href="">Каланетика</a></li>
                                        <li><a href="">Stretch+ABS</a></li>
                                        <li><a href="">Пілатес-релакс</a></li>
                                    </ul>
                                </div>
                                <div class="list-block">
                                    <span class="category-header">Силові та аеробні програми</span>
                                    <ul>
                                        <li class="not-exist"><a href="">Пілатес</a></li>
                                        <li><a href="">Хатха Йога</a></li>
                                        <li><a href="">Каланетика</a></li>
                                        <li><a href="">Stretch+ABS</a></li>
                                        <li class="not-exist"><a href="">Пілатес-релакс</a></li>
                                    </ul>
                                </div>
                                <div class="list-block">
                                    <span class="category-header">Для вагітних та матусь</span>
                                    <ul>
                                        <li><a href="">Пілатес</a></li>
                                        <li class="not-exist"><a href="">Хатха Йога</a></li>
                                        <li><a href="">Каланетика</a></li>
                                        <li class="not-exist"><a href="">Stretch+ABS</a></li>
                                        <li><a href="">Пілатес-релакс</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="club-rozklad-table">
        <div class="table-header">
            <div class="time-placeholder"></div>
            <div class="mon"><span>Понеділок</span></div>
            <div class="tue"><span>Вівторок</span></div>
            <div class="web"><span>Середа</span></div>
            <div class="thu"><span>Четвер</span></div>
            <div class="fri"><span>П'ятниця</span></div>
            <div class="sat"><span>Субота</span></div>
            <div class="sun"><span>Неділя</span></div>
        </div>
        <div class="table-body">
            <div class="table-row">
                <div class="time"><span>08:00</span></div>
                <div class="mon">
                    <div class="status">                  
                        <div class="popup-hover-box">
                            <div class="popup">
                                <img src="img/page/popup.jpg"/>
                                <div class="text">
                                    <span>Групові програми</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                                <div class="read-more-link-box">
                                    <a href="">Детальніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="exercise-name">Stretch+ABS</span>
                </div>
                <div class="tue">
                    <div class="status open-soon">
                        <div class="popup-hover-box">
                            <div class="popup">
                                <img src="img/page/popup.jpg"/>
                                <div class="text">
                                    <span>Групові програми</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                                <div class="read-more-link-box">
                                    <a href="">Детальніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="exercise-name">Стриппластика на tretch+ABS</span>
                </div>
                <div class="web">
                    <div class="status">
                        <div class="popup-hover-box">
                            <div class="popup">
                                <img src="img/page/popup.jpg"/>
                                <div class="text">
                                    <span>Групові програми</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                                <div class="read-more-link-box">
                                    <a href="">Детальніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="exercise-name">Пілатес</span>
                </div>
                <div class="thu">
                    <div class="status open-soon">
                        <div class="popup-hover-box">
                            <div class="popup">
                                <img src="img/page/popup.jpg"/>
                                <div class="text">
                                    <span>Групові програми</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                                <div class="read-more-link-box">
                                    <a href="">Детальніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="exercise-name">Стриппластика</span>
                </div>
                <div class="fri">
                    <div class="status">
                        <div class="popup-hover-box">
                            <div class="popup">
                                <img src="img/page/popup.jpg"/>
                                <div class="text">
                                    <span>Групові програми</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                                <div class="read-more-link-box">
                                    <a href="">Детальніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="exercise-name">П'Пілатес</span>
                </div>
                <div class="sat">
                    <div class="status open-soon">
                        <div class="popup-hover-box">
                            <div class="popup">
                                <img src="img/page/popup.jpg"/>
                                <div class="text">
                                    <span>Групові програми</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                                <div class="read-more-link-box">
                                    <a href="">Детальніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="exercise-name">Stretch+ABS</span>
                </div>
                <div class="sun"><span></span></div>
            </div>
            <div class="table-row">
                <div class="time"><span>08:00</span></div>
                <div class="mon">
                    <div class="status  open-soon">                  
                        <div class="popup-hover-box">
                            <div class="popup">
                                <img src="img/page/popup.jpg"/>
                                <div class="text">
                                    <span>Групові програми</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                                <div class="read-more-link-box">
                                    <a href="">Детальніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="exercise-name">Пілатес</span>
                </div>
                <div class="tue">
                    <div class="status">
                        <div class="popup-hover-box">
                            <div class="popup">
                                <img src="img/page/popup.jpg"/>
                                <div class="text">
                                    <span>Групові програми</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                                <div class="read-more-link-box">
                                    <a href="">Детальніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="exercise-name">П'Пілатес</span>
                </div>
                <div class="web">
                    <div class="status">
                        <div class="popup-hover-box">
                            <div class="popup">
                                <img src="img/page/popup.jpg"/>
                                <div class="text">
                                    <span>Групові програми</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                                <div class="read-more-link-box">
                                    <a href="">Детальніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="exercise-name">Stretch+ABS</span>
                </div>
                <div class="thu">
                    <div class="status open-soon">
                        <div class="popup-hover-box">
                            <div class="popup">
                                <img src="img/page/popup.jpg"/>
                                <div class="text">
                                    <span>Групові програми</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                                <div class="read-more-link-box">
                                    <a href="">Детальніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="exercise-name">П'Пілатес</span>
                </div>
                <div class="fri">
                    <div class="status open-soon">
                        <div class="popup-hover-box">
                            <div class="popup">
                                <img src="img/page/popup.jpg"/>
                                <div class="text">
                                    <span>Групові програми</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                                <div class="read-more-link-box">
                                    <a href="">Детальніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="exercise-name">Стриппластика</span>
                </div>
                <div class="sat">
                    <div class="status open-soon">
                        <div class="popup-hover-box">
                            <div class="popup">
                                <img src="img/page/popup.jpg"/>
                                <div class="text">
                                    <span>Групові програми</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                                <div class="read-more-link-box">
                                    <a href="">Детальніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="exercise-name">Стриппластика на tretch+ABS</span>
                </div>
                <div class="sun"><span></span></div>
            </div>
        </div>
    </div>

    <div class="additional-info">
        <div class="row">
            <div class="columns large-12">
                <div class="cf">
                    <div class="status"></div><p>Заняття проводяться, запис за тел. 240-97-65</p>
                </div>
                <div class="cf">
                    <div class="status open-soon"></div><p>Незабаром відкриття групи (група відкриється за навністю 6-х бажаючих), запис за тел. 235-61-73</p>
                </div>


            </div>
        </div>
    </div>
</section>