<section id="header" class="header-container">
    <div class="row">
        <div class="columns large-12">
            {{ > headerMenu }}
            <div class="club-name-menu">
                <p>
                    Клуб<br/> 
                    наукова 43б
                </p>
                <span class="green-salad-txt">
                    <span>Послуги</span>
                    <span class="icon-select-arrow service-trigger"></span>
                </span>
            </div>
        </div>
    </div>
    {{ > clubsListMenu }}
    {{ > servicesListMenu }}
    <div class="row icons-menu">
        <div class="innner-container">
            <div class="columns large-3">
                <div class="icons-box">
                    <span class="icon-photo"></span>
                </div>
                <span>Фотографії</span>
            </div>
            <div class="columns large-3">
                <div class="icons-box">
                    <span class="icon-video"></span>
                </div>
                <span>Відео</span>
            </div>
            <div class="columns large-3">
                <div class="icons-box">
                    <span class="icon-map"></span>
                </div>
                <span>Карта</span>
            </div>
            <div class="columns large-3">
                <div class="icons-box">
                    <span class="icon-virtual"></span>
                </div>
                <span>Віртуальний тур</span>
            </div>
        </div>
    </div>
    <div class="photo-gallery slide-container">
        <div class="row">
            <div class="columns large-12">
                <span class="icon-closed"></span>
            </div>
        </div>
        <img src="img/page/club/slider.jpg"/>
    </div>
    <div class="video-container  slide-container">
        <div class="row">
            <div class="columns large-12">
                <span class="icon-closed"></span>
                <figure>
                    <iframe width="1280" height="720"  src="//www.youtube.com/embed/ehgQhOcRh6Y" frameborder="0" allowfullscreen></iframe>
                </figure>
            </div>
        </div>
    </div>
    <div class="map-container  slide-container">
        <span class="icon-closed"></span>
        <div id="map-box"></div>
    </div>
    <div class="virtual-container  slide-container">
        <div class="row">
            <div class="columns large-12">
                <span class="icon-closed"></span>
            </div>
        </div>
        <img src="img/page/club/panorama369.jpg"/>
    </div>
</section>