<section id="singleBlog" class="singleBlog-contanier">
    <div class="row">
        <div class="columns large-12">
            <div class="breadcrumbs">
                <a href="#">Головна <span class="icon-top-arrow"></span></a>
                <a href="#">Про Ківі <span class="icon-top-arrow"></span></a>
                <a href="#">Новини <span class="icon-top-arrow"></span></a>
                <span>Заходи</span>
            </div>
            <div class="meta-tags clearfix">
                <span class="fleft">17.04.2014</span>
                <span class="fright">#Клуб Наукова 43б</span>
            </div>
            <div class="single-blog-entry-container"> 
                <h1>Акція «Приведи подругу на масаж та отримай знижку 50% на послуги релакс - зони»</h1> 
                <div class="entry-body">
                    <p>На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Він походить з уривку класичної латинської літератури 45 року до н.е., тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів - consectetur - з уривку Lorem Ipsum, і у пошуку цього слова в класичній літературі знайшов безсумнівне джерело. Lorem Ipsum походить з розділів 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" ("Про межі добра і зла"), написаного у 45 році до н.е. Цей трактат з теорії етики був дуже популярним в епоху Відродження. Перший рядок Lorem Ipsum, "Lorem ipsum dolor sit amet..." походить з одного з рядків розділу 1.10.32.</p>
                    <p>Finibus Bonorum et Malorum" ("Про межі добра і зла"), написаного у 45 році до н.е. Цей трактат з теорії етики був дуже популярним в епоху Відродження. Перший рядок Lorem Ipsum, "Lorem ipsum dolor sit amet..." походить з одного з рядків розділу 1.10.32.</p>

                    <iframe width="853" height="480" src="//www.youtube.com/embed/ehgQhOcRh6Y" frameborder="0" allowfullscreen></iframe>
                    <p>Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на кшталт жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно. Якщо ви збираєтесь використовувати Lorem Ipsum, ви маєте упевнитись в тому, що всередині тексту не приховано нічого, що могло б викликати у читача конфуз. Більшість відомих генераторів Lorem Ipsum в Мережі генерують текст шляхом повторення наперед заданих послідовностей Lorem Ipsum.</p>

                    <p class="styled-text">Класичний текст, використовуваний з XVI сторіччя, наведено нижче для всіх зацікавлених. Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum  
                        et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.</p>
                    <p>Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде текст." Це робить текст схожим на оповідний. Багато програм верстування та веб-дизайну використовують Lorem Ipsum як зразок і пошук за терміном "lorem ipsum" відкриє багато веб-сайтів, які знаходяться ще в зародковому стані.</p>
                </div>
                
                <div class="in-blog-gallery">
                    <img src="img/page/fake-slider.jpg"/>
                </div>
                
                <div class="share-block">
                    <span class="fleft">Розказати друзям</span> 
                    <div class="social"> 
                        <a href="#"><span class="icon-facebook-icon"></span></a>
                        <a href="#"><span class="icon-vkontakte-icon"></span></a>
                        <a href="#"><span class="icon-twitter-icon"></span></a>
                    </div>
                </div>
            </div>
            <img src="img/page/disquas.jpg"/>
            <div class="fake-banners">
                <img class="fleft" style="margin-bottom: 20px;" src="img/page/banner1.jpg"/>
                <img class="fright" style="margin-bottom: 20px;margin-top: -24px;" src="img/page/banner2.jpg"/>
                <img class="fleft" style="margin-bottom: 20px;" src="img/page/banner3.jpg"/>
                <img class="fright" style="margin-bottom: 20px;" src="img/page/banner4.jpg"/> 
            </div>
        </div>
    </div>
</section> 
