<section id="singleHedaer" class="header-container">
    <div class="row">
        <div class="columns large-12">
<header class="clearfix">
    <a href="/"><img class="kivi-logo" src="/frontend/img/logo@2x.png" width="134" height="81"></a>
    <div class="top-menu">
        <a href="#" class="link-with-icon">
            <span class="menu-and-icon">
                <span class="icon-phone"></span>
            </span>
            <span>Контакти</span>
        </a>
        <a href="#" class="link-with-icon">
            <span class="menu-and-icon">
                <span class="icon-calendar-icon"></span>
            </span>
            <span>Розклад та ціни</span>
        </a>
        <a href="#">
            <span class="text-btn">
                ВСТУПИТИ В КЛУБ
            </span>
        </a>
    </div>
    <div class="main-menu">
        <ul>
            <li><a href="{{ path('bambuk_cms_post_post')}}">Про Ківі</a></li>
            <li><a href="#" id="clubs">Клуби</a></li>
            <li><a href="/club.html">Ківі TV</a></li>
            <li><a href="#">Магазин</a></li>
        </ul>
    </div>
</header>        </div>
    </div>
    <div class="advance-menu">
        <div class="row">
            <div class="columns large-12">
                <ul>
                    <li><a href="">Про компанію</a></li>
                    <li><a href="">Послуги</a></li>
                    <li><a href="">Розклад та ціни</a></li>
                    <li class="active"><a href="">Новини</a></li>
                    <li><a href="">Школа інструкторів</a></li>
                    <li><a href="">Вакансії</a></li> 
                    <li><a href="">Франчайзинг</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>