<section  class="blog-entries-container">
    <div class="row">
        <div class="columns large-12">
            <div class="single-entry clearfix">
                <img src="img/page/club/blog1.jpg"/>
                <span class="date">17.04.2014</span>
                <h5>Піврічні абонементи! Акція діє до 30 серпня!</h5>
                <div class="entry-body">
                    <p>Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на кшталт жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно. Якщо ви збираєтесь використовувати Lorem Ipsum.</p>  
                </div>
                <span class="tags">#Клуб Наукова 43б</span>
            </div>
            <div class="single-entry clearfix">
                <img src="img/page/club/blog2.jpg"/>
                <span class="date">17.04.2014</span>
                <h5>Піврічні абонементи! Акція діє до 30 серпня!</h5>
                <div class="entry-body">
                    <p>Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на кшталт жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно. Якщо ви збираєтесь використовувати Lorem Ipsum.</p>  
                </div>
                <span class="tags">#Клуб Наукова 43б</span>
            </div>

        </div>
    </div>
</section>